<h1>Create Shopping List</h1>

<%= form_for @conn, Routes.list_path(@conn, :create), fn f -> %>
  <%= for dish <- @dishes do %>
    <label>
      <%= dish.name %>:
      <input name="list[dishes][]" type="checkbox" value="<%= dish.id %>">
    </label>
  <% end %>

  <div>
    <%= submit "Create List" %>
  </div>
<% end %>

<div id="elm-landing-pad"></div>
