<%= form_for @changeset, @action, fn f -> %>
  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= label f, :metric %>
  <%= text_input f, :metric %>
  <%= error_tag f, :metric %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
